@import url(./../../css/common.css);
@import url(./../../css/font.css);


html {height: -webkit-fill-available;}
::-webkit-scrollbar {display: none;}
body{
  font-family: 'ClarityCity';
  font-weight: 400;
  background: #F6F2EE;
  color: #363432;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  -ms-overflow-style: none;
}

.section{
  width:100%;
  height:auto;
  position:relative;
}

/* header */
header{
  width: 100%;
  position: relative;
}
header nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  z-index: 999;
}
header nav ul{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363432;
  transition: 0.3s;
}
header nav ul a i{font-size: 20px;}
header .logo a{
  display: inline-block;
  background: url(../img/logo_b.svg) no-repeat center center;
  width: 140px;
  height: 30px;
  margin-top: 2px;
  transition: 0.3s;
}

header .menu{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: 100vh;
  background: #363432;
  color: #fff;
  z-index: 999;
}
.menuText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.menuText ul li{
  font-family: 'Assassin';
  font-size: 50px;
  line-height: 70px;
}
.menu .close{
  font-size: 40px;
  position: absolute;
  top: 19px;
  left: 22px;
  cursor: pointer;
  color: #837f7c;
}
.shopMenu{
  display: none;
  margin: -5px 0 15px;
}
.shopMenu li a{
  font-family: 'ClarityCity';
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 30px;
}

/* content */
.content{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.contentTop{padding: 0 30px;}
.content .search{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #fff;
  padding: 0 20px 38px;
  margin: 80px 0 40px;
  border-radius: 30px;
  position: relative;
}
.content .search div{
  width: 80%;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.content .search input{
  width: 95%;
  font-family: 'ClarityCity';
  font-size: 16px;
  border: none;
  background: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
  display:none;
}
.content .search i{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #7B7773;
  cursor: pointer;
}
.content h2{
  font-family: 'Assassin';
  font-size: 24px;
  line-height: 28px;
  margin: 50px 30px -20px;
  text-transform: uppercase;
}
.searchText{margin-top: -20px;}
.searchText p{
  display: inline-block;
  font-size: 12px;
  border: 1px solid #363432;
  border-radius: 30px;
  padding: 13px 20px;
  margin-bottom: 7px;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
}
.searchText p:hover{
  background: #363432;
  color: #fff;
}
.content .swiper{
  width: 100%;
  height: 260px;
  padding-left: 30px;
  margin-bottom: 50px;
}
.content .swiper-slide{
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.content .swiper-wrapper div:last-child{opacity: 0;}

.content .swiper-slide div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 135px;
  background: #fff;
}
.content .swiper-slide img{
  width: 85%;
  height: 85%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}
.content .swiper-slide p{
  position: absolute;
  top: 83%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #363432;
  font-size: 14px;
  line-height: 19px;
}



/* footer */
footer{
  width: 100%;
  height: 300px;
  background: #363432;
  color: #fff;
  padding: 30px;
  position: relative;
}
.logoB{text-align: center;}
footer img{
  width: 140px;
  margin: 20px 0;
}
footer ul{
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 13px;
  color: #d4d0cb;
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
}
footer p{
  font-size: 11px;
  text-align: center;
  color: #aca8a4;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}
footer p:nth-of-type(1){
  bottom: 65px;
  line-height: 18px;
  text-transform: lowercase;
}